$background-color: #ffffff;
$foreground-color: #F7F7F7;
$nav-color: #999999;
$text-color: #363E45;

// blue
$primary-color: #0084C2;
$secondary-color: #0FB3FF;

// links
$link-color: $primary-color;
$link-color--dark: #fd2965;

// components
$button-color: none;
