#about {
  .about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    h2 {
      text-align: center;
    }
    .avatar {
      margin: .25em auto .5em;
    }
    .heading {
      margin-bottom: 0.5em;
    }
    .special {
      margin-top: 1em;
      margin-bottom: .25em;
    }
    .special + p {
      margin: 0;
    }
    .info {
      .skills {
        .skill {
          border: 1px solid $nav-color;
          border-radius: 6px;
          font-size: 1.5rem;
          padding: 1.5rem 2rem;
          margin-bottom: 1.5rem;
          text-align: center;
          img {
            vertical-align: middle;
          }
          span {
            display: block;
            margin-bottom: 12px;
          }
          &:hover {
            background: darken($color: $background-color, $amount: 10);
            border-color: black;
          }
        }
      }
    }
    @include screen($tablet) {
      max-width: 700px;
      margin: 0 auto;
      .biography {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .skills {
        .skill {
          margin: 0 1rem 2.5em;
        }
      }
    }
    @include screen($laptop) {
      .biography {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

body.dark-theme {
  #about {
    .about-box {
      .skills {
        .skill {
          &:hover {
            background: lighten($color: $background-color--dark, $amount: 18);
            border-color: white;
          }
        }
      }
    }
  }
}
